.card {
    background-color: #fff;
    border-radius: 2em;
    box-shadow: 0 1em 2em rgba(0, 0, 0, 0.1);
    width: 30em;
    margin: 3em;
    padding: 1.5em;
    text-align: center;
}

@media (max-width: 800px) {
    .card {
        width: 60%;
    }
}

.card-qr-code {
    border-radius: 1em;
    width: 85%;
}


.card-text {
    padding: 1em 1em 2em 1em;
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #1f3251;
    margin: 1em 0;
}

p {
    font-size: 1em;
    font-weight: 400;
    color: #7b879d;
    line-height: 1.5;
    margin: 0;
}